<acContentHeader [conf]="{'judul':'Pegawai','subJudul':'Form Pegawai','hirarki':['Master','Pegawai','Form']}"></acContentHeader>

<section class="content">
    <div class="box box-success">
        <div  class="box-header with-border ">
            <h3  class="box-title pull-right"> <a href="javascript: void(0);" class="btn btn-link margin-inline">Lihat Daftar Pegawai >></a></h3>
        </div>
        <form role="form" (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="box-body chat" id="chat-box"  >
                <div style="padding:0px 60px 0px 60px" class='col-md-12'>
                    <acInput [(value)]='data.namaLengkap' [conf]="{'judul':'Nama Lengkap','id':'nama','placeholder':'Masukkan Nama Lengkap','required':true,'readonly':true}" ></acInput>
                    <acInput [(value)]='data.noInduk' [conf]="{'judul':'Nomor Induk Pegawai / NIP','id':'nama','placeholder':'Masukkan Nomor Induk','required':true,'readonly':true}" ></acInput>
                    <acSelect [(value)]="data.jk" name='Jenis Kelamin' [conf]="{'type':'select','options':[{'val':0,'text':'Laki-laki'},{'val':1,'text':'Perempuan'}],'judul':'Jenis Kelamin'}" ></acSelect>  
                    <acSelect [(value)]="data.golongan" name='Golongan' [conf]="{'type':'select','options':[{'val':0,'text':'Gol I'},{'val':1,'text':'Gol II'},{'val':2,'text':'Gol III'}],'readonly':true,'judul':'Golongan'}" ></acSelect> 
                    <acSelect [(value)]="data.jabatan" name='Jabatan' [conf]="{'type':'select','options':[{'val':0,'text':'Jabatan I'},{'val':1,'text':'Jabatan II'},{'val':2,'text':'Jabatan III'}],'readonly':true,'judul':'Jabatan'}" ></acSelect>  
                    <acInput [(value)]='data.noTelp' [conf]="{'type':'number','judul':'No Telepon','id':'nama','placeholder':'Nomor Telepon','readonly':true}" ></acInput>
                    <acInput [(value)]='data.email' [conf]="{'type':'email','judul':'Email','id':'nama','placeholder':'Email','required':true,'readonly':true}" ></acInput>
                    <acInput [(value)]='data.alamat' [conf]="{'type':'text','judul':'Alamat Rumah','id':'nama','placeholder':'Alamat Rumah','required':true,'readonly':true}" ></acInput>
                </div>
            </div>
            <div class="box-footer">
                <acInput [conf]="{'type':'submit'}" ></acInput>
            </div>
        </form>
    </div>
</section>
