<acContentHeader [conf]="{'judul':'Pengadaan','subJudul':'Form Pengadaan','hirarki':['Pejabat Pengadaan','Proses Pengadaan Barang & Jasa','Hasil Pengadaan Langsung','NO Id Pengadaan']}"></acContentHeader>

<section class="content">
  <div class="box box-success">
    <div class="box-header with-border ">
      <div class="col-md-6">
        <acSelect [(value)]="data.penyedia" [conf]="{'disabled':false,'type':'select','options':[{'val':0,'text':'Penyedia I'},{'val':1,'text':'Penyedia B'}],'judul':'Penyedia Terpilih'}"></acSelect>
      </div>
      <div class="col-md-6">
        <div style="padding:27px 0px 0px 10px;" class="form-group row">
          <a class="btn btn-sm btn-success">Tetapkan</a>
          <a class="btn btn-sm btn-success">Perbaharui</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Berita Acara HPL</a></li>
            <li><a href="#tab_2" data-toggle="tab">Penetapan & Pengumuman Pelaksanaan</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <form role="form" (ngSubmit)="onSubmit()" ngNativeValidate>
                <div class="box-body chat" id="chat-box">
                  <div style="padding:0px 60px 0px 60px" class='col-md-612'>
                    <acSelect [(value)]="data.Penyedia" [conf]="{'disabled':false,'type':'select','options':[{'val':0,'text':'Penyedia I'},{'val':1,'text':'Penyedia II'}],'judul':'Penyedia Terpilih'}"></acSelect>
                    <acInput [(value)]='data.Website' [conf]="{'readonly':false,'judul':'Tgl','required':false,'type':'text'}"></acInput>
                    <acInput [(value)]='data.nama' [conf]="{'readonly':false,'judul':'Nama Peserta','type':'text6'}"></acInput>
                    <acInput [(value)]='data.ha' [conf]="{'readonly':false,'judul':'Harga Awal','required':false,'type':'number'}"></acInput>
                    <acInput [(value)]='data.hak' [conf]="{'readonly':false,'judul':'Harga Akhir','required':false,'type':'number'}"></acInput>
                  </div>
                  <div class="box-footer chat text-center" id="chat-box" style="overflow-x: scroll;">
                    <button type="submit" style='margin: 0px 0px 0px 60px;' class="btn btn-success">Simpan BA HPL</button>
                    <button type="submit" style='margin: 0px 0px 0px 60px;' class="btn btn-success">Print BA HPL</button>
                    <button type="submit" style='margin: 0px 0px 0px 60px;' class="btn btn-success">Perbaharui BA HPL</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="tab_2">
              <!-- <acSelect [(value)]="data."pejabat [conf]="{'disabled':false,'type':'select','options':[{'val':0,'text':'Pejabat I'},{'val':1,'text':'Pejabat II'}],'judul':'Pejabat Pengadaan'}"></acSelect> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div id="prosesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form style="padding:20px" role="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tambah Detail Akun Pengadaan</h4>
        </div>
        <div class="modal-body">
          <acInput [(value)]='data.noIdPengadaan' [conf]="{'readonly':false,'judul':'No ID Pengadaan','required':false,'type':'text'}"></acInput>
          <acSelect [(value)]="data.kepada" [conf]="{'disabled':false,'type':'select','options':[{'val':0,'text':'KPA 1'},{'val':1,'text':'KPA II'}],'judul':'Kepada'}"></acSelect>
        </div>
        <div class="modal-footer">
          <button data-toggle="modal" data-target="#prosesModal" type="submit" style='margin: 0px 0px 0px 60px;' class="btn btn-success">Terbitkan Nota Ke PPK</button>
        </div>
      </form>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="penyediaModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form style="padding:20px" role="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tambah Penyedia</h4>
        </div>
        <div class="modal-body">
          <div class="input-group input-group-sm pull-right">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button type="button" class="btn btn-info btn-flat">Search</button>
            </span>
          </div>
          <table style="padding:0px 60px 0px 60px; background-color:lightblue;" class='table table-striped col-md-12 text-center'>
            <tr>
              <th>Id Penyedia</th>
              <th>Nama Penyedia</th>
              <th>Nama Cp</th>
              <th>Keterangan</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>VN0001</td>
              <td>CV A Berantas</td>
              <td>Lyana Martel</td>
              <td>Penyedia Dragon Glass</td>
              <td><button class="btn btn-xs btn-warning">Pilih</button></td>
            </tr>
            <tr>
              <td>VN0002</td>
              <td>CV B Angkara</td>
              <td>Sansa Stark</td>
              <td>Penyedia Valerian Stell</td>
              <td><button class="btn btn-xs btn-warning">Pilih</button></td>
            </tr>
            <tr>
              <td>VN0003</td>
              <td>CV B Murka</td>
              <td>Jon Snow</td>
              <td>Penyedia Valerian Stell</td>
              <td><button class="btn btn-xs btn-warning">Pilih</button></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <a data-toggle="modal" onclick="$('#penyediaModal').modal('hide');" style='margin: 0px 0px 0px 60px;' class="btn btn-success">Kembali</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="penawaranModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form style="padding:20px" role="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Dokumen Penawaran</h4>
        </div>
        <div class="modal-body">
          <input type="file" (change)="onChange($event)" />
        </div>
        <div class="modal-footer">
          <a data-toggle="modal" onclick="$('#penawaranModal').modal('hide');" style='margin: 0px 0px 0px 60px;' class="btn btn-success">Kembali</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="klarifikasiModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

    </div>
  </div>
</div>

<!-- Modal -->
<div id="baModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form style="padding:20px" role="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">BA Klarifikasi & Negosiasi Harga [No Id Pengadaan]</h4>
        </div>
        <div class="modal-body">
          <acSelect [(value)]="data.penyedia" [conf]="{'disabled':false,'type':'select','options':[{'val':0,'text':'Penyedia A'},{'val':1,'text':'Penyedia B'}],'judul':'Penyedia'}"></acSelect>
          <acSelect [(value)]="data.pejabat" [conf]="{'disabled':false,'type':'select','options':[{'val':0,'text':'Pejabat A'},{'val':1,'text':'Pejabat B'}],'judul':'Pejabat Pengadaan'}"></acSelect>
          <acInput [(value)]='data.tanggal' [conf]="{'readonly':false,'judul':'Tanggal','required':false,'type':'date'}"></acInput>
          <acInput [(value)]='data.ha' [conf]="{'readonly':false,'judul':'Harga Awal','required':false,'type':'number'}"></acInput>
          <acInput [(value)]='data.hak' [conf]="{'readonly':false,'judul':'Harga Akhir','required':false,'type':'number'}"></acInput>
          <acInput [(value)]='data.aa' [conf]="{'readonly':false,'judul':'Tanggal Pelaksanaan','required':false,'type':'date'}"></acInput>
        </div>
        <div class="modal-footer">
          <button data-toggle="modal" onclick="$('#baModal').modal('hide');" style='margin: 0px 0px 0px 60px;' class="btn btn-success">Simpan & Cetak</button>
          <button data-toggle="modal" onclick="$('#baModal').modal('hide');" style='margin: 0px 0px 0px 60px;' class="btn btn-success">Perbaharui</button>
        </div>
      </form>
    </div>
  </div>
</div>