<section class="content-header">
  <h1>
    Beranda
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Beranda</li>
  </ol>
</section>

<!-- Main content -->
<section  class="content" style="min-height:650px;">
    <div class="box box-success">
        <div class="box-header row">
            <div class="col-md-8">
                <button type="button" class="btn btn-success tbl-tambah" (click)="tambah()">
                    <i class="fa fa-plus"></i> Buat Ajuan Pengadaan
                </button>
            </div>
  
            <div class="col-md-4">
                <div class="input-group no-margin">
                    <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.05);"><a (click)="cari()" href="javascript:void(0)"><i class="fa fa-search"></i></a></span>
                    <input (keyup.enter)="cari()" [(ngModel)]="katakunci" type="text" placeholder="Search..." class="form-control no-padding-hr" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
                </div>
            </div>
        </div>
        <div class="box-body chat" id="chat-box">
            <table class="table table-striped">
                <tr>
                    <th>No Id Pelanggan</th>
                    <th>Judul Pengadaan</th>
                    <th>Requestror</th>
                    <th>Tanggal Pengajuan</th>
                    <th>Sifat</th>
                    <th>Status Pengadaan</th>
                    <th>Akun</th>
                    <th class="text-center">STATUS</th>
                    <th colspan="2" class="text-center">AKSI</th>
                </tr>
                <tr *ngFor="let data of data; let i=index">
                    <td>{{data.id}}</td>
                    <td>{{data.judul}}</td>
                    <td>{{data.requestor}}</td>
                    <td>{{data.tglPengajuan}}</td>
                    <td>{{data.sifat}}</td>
                    <td>{{data.statusPengadaan}}</td>
                    <td>{{data.akun}}</td>
                    <!-- <td>{{data.identitas.status}}</td> -->
                    <td class="text-center">
                        <span *ngIf="data.status==1" class="badge label-success">Aktif</span>
                        <span *ngIf="data.status!=1" class="badge label-danger">Tidak Aktif</span>
                    </td>
                    <td width="10px">
                        <button type="button" class="btn btn-info btn-xs" (click)="edit(data.idPelanggan)">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                    </td>
                    <td width="10px">
                        <button type="button" class="btn btn-danger btn-xs" (click)="hapus(data.idPelanggan)">
                            <i class="fa fa-trash-o"></i> Hapus
                        </button>
                    </td>
                </tr>
            </table>
            <acSpinner [show]="showSpinner"></acSpinner>
        </div>
    </div>
</section>
