<header class="main-header">

    <a routerLink="dashboard" href="javascript:void(0)" class="logo">
      <span class="logo-mini"><b>K</b>PU</span>
      <span class="logo-lg">
        <img src="assets/img/kpu.png" alt="" style="height:40px">
        <b>KPU</b>
      </span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
              <img src="assets/img/avatar5.png" class="user-image" alt="User Image">
              <span class="hidden-xs">Arshaka</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="assets/img/avatar5.png" class="img-circle" alt="User Image">

                <p>
                  Arshaka - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>

              <li class="user-footer">
                <div class="pull-left">
                  <a href="javascript:void(0)" class="btn btn-default btn-flat" routerLink="profile">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="javascript:void(0)" class="btn btn-default btn-flat" (click)="gotoLogin()">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <!-- <a href="javascript:void(0)" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> -->
          </li>
        </ul>
      </div>
    </nav>
  </header>