<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" routerLink="dashboard">
            <i class="fa fa-dashboard"></i> <span>Beranda</span>
          </a>
      </li>
      <li routerLinkActive="active" class="treeview" id="menu-penanggung">
        <a href="javascript:void(0)">
            <i class="fa fa-id-card"></i>
            <span>PK</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a id="menu-pengadaanForm" href="javascript:void(0)" routerLink="pengadaanForm"><i class="fa fa-circle-o"></i>Buat Pengajuan Baru</a></li>
          <li routerLinkActive="active"><a id="menu-kakForm" href="javascript:void(0)" routerLink="kakForm"><i class="fa fa-circle-o"></i>Pembuatan KAK</a></li>
          <li routerLinkActive="active"><a id="menu-teknis" href="javascript:void(0)" routerLink="teknis"><i class="fa fa-circle-o"></i>Pembuatan Spesifikasi Teknis</a></li>
        </ul>
      </li>
      <li routerLinkActive="active" class="treeview" id="menu-kpa">
        <a href="javascript:void(0)">
            <i class="fa fa-id-card"></i>
            <span>KPA</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a id="menu-pengguna" href="javascript:void(0)" routerLink="kpa"><i class="fa fa-circle-o"></i>Review Pengajuan</a></li>
        </ul>
      </li>
      <li routerLinkActive="active" class="treeview" id="menu-ppk">
        <a href="javascript:void(0)">
              <i class="fa fa-id-card"></i>
              <span>PPK</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a id="menu-pengguna" href="javascript:void(0)" routerLink="ppk"><i class="fa fa-circle-o"></i>Penerbitan Nota Ke PP</a></li>
          <li routerLinkActive="active"><a id="menu-tinjauKak" href="javascript:void(0)" routerLink="tinjauKak"><i class="fa fa-circle-o"></i>Tinjau KAK </a></li>
          <li routerLinkActive="active"><a id="menu-tinjauTeknis" href="javascript:void(0)" routerLink="tinjauTeknis"><i class="fa fa-circle-o"></i>Tinjau Spesifikasi Teknis </a></li>
          <li routerLinkActive="active"><a id="menu-kertasKerja" href="javascript:void(0)" routerLink="kertasKerja"><i class="fa fa-circle-o"></i>Buat Kertas Kerja HPS </a></li>
          <li routerLinkActive="active"><a id="menu-draftKontrak" href="javascript:void(0)" routerLink="draftKontrak"><i class="fa fa-circle-o"></i>Draft Kontrak</a></li>
        </ul>
      </li>
      <li routerLinkActive="active" class="treeview" id="menu-kpa">
        <a href="javascript:void(0)">
            <i class="fa fa-id-card"></i>
            <span>Pejabat Pengadaan</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a id="menu-penerbitanNota" href="javascript:void(0)" routerLink="penerbitanNota"><i class="fa fa-circle-o"></i>Pengadaan Barang & Jasa</a></li>
          <li routerLinkActive="active"><a id="menu-pelaksaanPengadaan" href="javascript:void(0)" routerLink="pelaksaanPengadaan"><i class="fa fa-circle-o"></i>Penyedia Barang & Jasa</a></li>
        </ul>
      </li>
      <li routerLinkActive="active" class="treeview" id="menu-master">
        <a href="javascript:void(0)">
            <i class="fa fa-list"></i>
            <span>Master Data</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a id="menu-pengguna" href="javascript:void(0)" routerLink="penggunaForm"><i class="fa fa-circle-o"></i> Pengguna</a></li>
          <li routerLinkActive="active"><a id="menu-pegawai" href="javascript:void(0)" routerLink="pegawaiForm"><i class="fa fa-circle-o"></i> Data Pegawai</a></li>
          <li routerLinkActive="active"><a id="menu-penyedia" href="javascript:void(0)" routerLink="penyediaForm"><i class="fa fa-circle-o"></i> Data Penyedia</a></li>
        </ul>
      </li>
      <li routerLinkActive="active" class="treeview" id="menu-laporan">
        <a href="javascript:void(0)">
            <i class="fa fa-pie-chart"></i>
            <span>Laporan</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a id="menu-laporan1" href="javascript:void(0)" routerLink="laporan1"><i class="fa fa-circle-o"></i> Laporan 1</a></li>
          <li routerLinkActive="active"><a id="menu-laporan2" href="javascript:void(0)" routerLink="laporan2"><i class="fa fa-circle-o"></i> Laporan 2</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>