<acContentHeader [conf]="{'judul':'Pengadaan','subJudul':'Form Pengadaan','hirarki':['Dashboard','Pengadaan','Form']}"></acContentHeader>

<section class="content">
    <div class="box box-success">
        <div  class="box-header with-border ">
            <h3  class="box-title pull-right"> <a (click)='keList()' href="javascript: void(0);" class="btn btn-link margin-inline">Lihat Daftar Pengadaan >></a></h3>
        </div>
        <form role="form" (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="box-body chat" id="chat-box"  >
                <div style="padding:0px 60px 0px 60px" class='col-md-6'>
                  <acInput [(value)]='data.noIdPengadaan' [conf]="{'judul':'No ID Pengadaan','required':false,'type':'number'}" ></acInput>
                  <acSelect [(value)]="data.requestor"  [conf]="{'type':'select','options':[{'val':0,'text':'Requestor A'},{'val':1,'text':'Requestor B'}],'judul':'Requestor'}" ></acSelect>  
                  <acSelect [(value)]="data.kepada"  [conf]="{'type':'select','options':[{'val':0,'text':'KPA 1'},{'val':1,'text':'KPA II'}],'judul':'Kepada'}" ></acSelect>  
                  <acInput [(value)]='data.nomor' [conf]="{'judul':'Nomor','required':false}" ></acInput>
                  <acInput [(value)]='data.tgl' [conf]="{'judul':'Tanggal','required':false,'type':'date'}" ></acInput>
                </div>

                <div style="padding:0px 60px 0px 60px" class='col-md-6'>
                    <acSelect [(value)]="data.sifat"  [conf]="{'type':'select','options':[{'val':'KAA','text':'KAB'},{'val':1,'text':'KPA II'}],'judul':'Sifat'}" ></acSelect>  
                    <acInput [(value)]='data.perihal' [conf]="{'judul':'Perihal','required':false,'type':'number'}" ></acInput>
                    <acInput [(value)]='data.program' [conf]="{'judul':'Program','required':false,'type':'number'}" ></acInput>
                    <acInput [(value)]='data.kegiatan' [conf]="{'judul':'Kegiatan','required':false,'type':'number'}" ></acInput>
                </div>
                <div  class="box-body chat" id="chat-box"  >
                  <table style="padding:0px 60px 0px 60px; background-color:lightblue;"   class='table table-striped col-md-12 text-center'>
                      <tr>
                        <th>Akun</th>
                        <th>Jenis Belanja</th>
                        <th>Pagu Anggaran</th>
                        <th>Sisa</th>
                        <th>Pengajuan Sekarang</th>
                      </tr>
                      <tr>
                        <td>898989</td>
                        <td>Dummy</td>
                        <td>Rp. 12.500.000</td>
                        <td>Rp.  1.000.000</td>
                        <td>Rp. 11.000.000</td>
                      </tr>
                      <tr>
                        <td>898989</td>
                        <td>Dummy</td>
                        <td>Rp. 12.500.000</td>
                        <td>Rp.  1.000.000</td>
                        <td>Rp. 11.000.000</td>
                      </tr>
                      <tr>
                        <td>898989</td>
                        <td>Dummy</td>
                        <td>Rp. 12.500.000</td>
                        <td>Rp.  1.000.000</td>
                        <td>Rp. 11.000.000</td>
                      </tr>
                    </table>
                  </div>
                  <h3  class="box-title pull-right"> <a  href="javascript: void(0);" class="btn btn-link margin-inline" data-toggle="modal" data-target="#detailModal">Tambah Detail >></a></h3>
            </div>
            <div class="box-footer">
              <div class='text-center'>
                <button (click)='keKak()'  style='margin: 0px 0px 0px 10px;' class="btn btn-success ">Buat KAK</button>
                <button  style='margin: 0px 0px 0px 10px;' class="btn btn-success">Buat Spesifikasi Teknis</button>
                <!-- <button  style='margin: 0px 0px 0px 10px;' class="btn btn-success col-md-2">Upload Gambar Barang</button> -->
                <!-- <button  style='margin: 0px 0px 0px 10px;' class="btn btn-success col-md-2">Upload Design</button> -->
                <!-- <button  style='margin: 0px 0px 0px 10px;' class="btn btn-success col-md-2">Upload Nota Signed-off</button> -->
                <button (click)="onSubmit()" type="submit" style='margin: 0px 0px 0px 10px;' class="btn btn-success ">Print & Simpan</button>
              </div>
              <h3  class="box-title"> <a  href="javascript: void(0);" class="btn btn-link margin-inline" data-toggle="modal" data-target="#detailStatusModal">Document Status >></a></h3>
            </div>
        </form>
    </div>
    
</section>

<!-- Modal -->
<div id="detailModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form style="padding:20px" role="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tambah Detail Akun Pengadaan</h4>
        </div>
        <div class="modal-body">
            <acInput [(value)]='data.akun' [conf]="{'judul':'Akun','required':false,'type':'text'}" ></acInput>
            <acInput [(value)]='data.jenisBelanja' [conf]="{'judul':'Jenis Belanja','required':false,'type':'text'}" ></acInput>
            <acInput [(value)]='data.paguAnggaran' [conf]="{'judul':'Pagu Anggaran','required':false,'type':'text'}" ></acInput>
            <acInput [(value)]='data.sisa' [conf]="{'judul':'Sisa','required':false,'type':'text'}" ></acInput>
            <acInput [(value)]='data.pengajuanSekarang' [conf]="{'judul':'Pengajuan Sekarang','required':false,'type':'text'}" ></acInput>
        </div>
        <div class="modal-footer">
          <acInput [conf]="{'type':'submit'}" ></acInput>
        </div>
      </form>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="detailStatusModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form style="padding:20px" role="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Detail Dokumen Status</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="checkbox">
                  <label>
                      <input type="checkbox" > Nota (Signed Off)
                      <a  href="javascript: void(0);" class="btn btn-link margin-inline"  >Preview Doc >></a>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                      <input type="checkbox" checked> Nota (Dokumen KAK)
                      <a  href="javascript: void(0);" class="btn btn-link margin-inline"  >Preview Doc >></a>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                      <input type="checkbox" checked> Nota (Dokumen Spesifikasi Teknis)
                      <a  href="javascript: void(0);" class="btn btn-link margin-inline"  >Preview Doc >></a>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                      <input type="checkbox" checked> Nota (Gambar)
                      <a  href="javascript: void(0);" class="btn btn-link margin-inline"  >Preview Doc >></a>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                      <input type="checkbox" checked> Nota (Design)
                      <a  href="javascript: void(0);" class="btn btn-link margin-inline"  >Preview Doc >></a>
                  </label>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <acInput [conf]="{'type':'submit'}" ></acInput>
        </div>
      </form>
    </div>

  </div>
</div>
