<section class="content-header">
    <h1>
        {{conf.judul}}
        <small>{{conf.subJudul}}</small>
    </h1>
    <ol *ngIf="isHirarki" class="breadcrumb">
        <!--<div *ngFor="let hirarki of hirarki ;let last = last">-->
            
        <li  *ngFor="let hirarki of hirarki; let last=last; let i=index;" >
            <a *ngIf="!last" href="javascript:void(0)">
                <i *ngIf="i==0" class="fa fa-book"></i> 
                {{hirarki}}
            </a>
            <span *ngIf="last">{{hirarki}}</span>
        </li>
            <!--<li *ngIf="last" class="active" >{{hirarki}}</li>-->
        <!--</div>-->
        <!--<li class="active">Staff</li>-->
    </ol>
    <ol *ngIf="isHirarkiwithlink" class="breadcrumb">
        <!--<div *ngFor="let hirarki of hirarki ;let last = last">-->
            
        <li  *ngFor="let h of hirarkiwithlink; let last=last; let i=index;" >
            <a *ngIf="!last && h.havelink" href="{{h.link}}" >
                <i *ngIf="i==0" class="fa fa-book"></i> 
                {{h.name}}
            </a>
            <span *ngIf="last || !h.havelink">{{h.name}}</span>
        </li>
            <!--<li *ngIf="last" class="active" >{{hirarki}}</li>-->
        <!--</div>-->
        <!--<li class="active">Staff</li>-->
    </ol>
</section>